nz-layout {
    height: 100%;
}

.inner-layout {
    padding: 133px 56px 24px;
    background-color: rgba(235, 235, 235, 1);
    font-size: 36px;
    font-family: 'Inter';
    font-style: normal;
}

.header-row {
    display: flex;
    justify-content: space-between;
}

nz-content {
    background: #EBEBEB;
    min-height: 280px;
    border-radius: 16px;
}
nz-header {
    position: fixed;
    width: 100%;
}

nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
}