<ul nz-menu nzMode="inline" class="sider-menu">
    <nz-header style="background: rgba(253, 253, 253, 1)">
    </nz-header>
    <li class="li-sidebar" routerLink="/dashboard">
        <button style="padding-left:15px; display:inline-flex;" nz-menu-item nz-button nzType="text" class="custom-button-hover btn">
            <span data-feather="home"></span>
        </button>
    </li>
    <li class="li-sidebar" routerLink="/courses">
        <button style="padding-left:15px; display:inline-flex" nz-menu-item nz-button nzType="text" class="custom-button-hover">
            <span data-feather="book-open"></span>
        </button>
    </li>
    <li class="li-sidebar">
        <button style="padding-left:15px; display:inline-flex" nz-menu-item nz-button nzType="text" class="custom-button-hover btn">
            <span data-feather="file-text"></span>
        </button>
    </li>
    <li class="li-sidebar">
        <button style="padding-left:15px; display:inline-flex" nz-menu-item nz-button nzType="text" class="custom-button-hover btn">
            <span data-feather="target"></span>
        </button>
    </li>
    <li class="li-sidebar">
        <button style="padding-left:15px; display:inline-flex" nz-menu-item nz-button nzType="text" class="custom-button-hover btn">
            <span data-feather="users"></span>
        </button>
    </li>
    <li class="li-sidebar">
        <button style="padding-left:15px; display:inline-flex"nz-menu-item nz-button nzType="text" class="custom-button-hover btn">
            <span data-feather="settings"></span>
        </button>
    </li>
</ul>