.sidenav-container {
    height: 100%;
  }
  
  .sidenav {
    width: 104px;
  }
  
  /* .sidenav .mat-toolbar {
    background: inherit;
  } */
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  .remove-borders{
    border-bottom: none;
    border-top: none;
    border-right: none;
    border-left: none;
  }

  .sidenav .mat-toolbar{
    color: rgba(253, 253, 253, 1);
  }

  .mat-toolbar{
    background: rgba(253, 253, 253, 1)
  }

  .mat-drawer-container{
    background: rgba(235, 235, 235, 1);
  }

  .button-padding{
    padding: 35px 10px 30px 10px
  }

  .button-margin{
    margin: 15px 15px 15px 20px
  }
