.top-card {
    /* padding: 20px; */
    height: 50%;
}

.container {
    height: 90%;
}

.card {
    background: #FDFDFD;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    /* padding: 24px 0px 24px 24px; */
    padding: 24px 24px 24px 24px;
}

.right-card {
    height: 100%;
    /* padding: 24px 0px 0px 24px; */
}

.left-card {
    margin-right: 24px;
    height: 100%;
    /* padding: 24px 0px 0px 24px; */
}

.comp-card {
    margin-left: 24px;
    height: 100%;
}

input {
    width: 75%;
    border-radius: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%
}

.form-item {
    display: inline;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    margin-top: auto;
    margin-bottom:auto;
    margin-right: 5px;
    white-space: nowrap;
}

textarea {
    width: 90%;
    height: 100%;
    border-radius: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.bottom-cards {
    height: 50%;
    margin-top: 24px;
}

.float-right {
    /* margin-top: 24px;  */
    margin-left: auto;
}

.pill {
    width: 96px;
    border-radius: 30px;
    height: 32px;
    padding: 6.5px 8px 6.5px 8px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    background-color: #B76EDA;
}

.competency {
    border-radius: 16px;
    overflow:auto;
    min-height: 200px;
    max-height: 450px;
    /* max-width: 90%; */
}

#addCompetency {
    position: absolute;
    bottom: 0px;
    margin: 0px calc(25% - 24px) 24px calc(25% - 24px);
}

nz-select {
    width: 100%;
}

.text-cuestionarios {
    margin-top: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: justify;
}