nz-layout {
    height: 100%;
}

.inner-layout {
    padding: 133px 56px 24px;
    background-color: #ebebeb;
}

 .header-row {
    margin: 45 0 0 70; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

nz-content {
    background: #EBEBEB;
    /* padding: 24px; */
    min-height: 280px;
    margin-top: 23px;
    border-radius: 16px;
}
nz-header {
    position: fixed;
    width: 100%;
}

nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
}