nz-layout {
    height: 100%;
}

.inner-layout {
    padding: 133px 56px 24px;
    background-color: rgba(235, 235, 235, 1);
    font-size: 36px;
    font-family: 'Inter';
    font-style: normal;
}

.header-row {
    display: flex;
    justify-content: space-between;

}

nz-content {
    background: #EBEBEB;
    min-height: 280px;
    border-radius: 16px;
}

nz-header {
    position: fixed;
    width: 100%;
}

nz-sider {
    overflow: auto;
    height: 100%;
    position: fixed;
    left: 0;
}

.filter-btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 16px;
    gap: 8px;
    background: #EBEBEB;
    border-radius: 8px;
    color: #888888;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}

.filter-btn:hover {
    background-color: #D9D9D9;
}

.ant-dropdown-menu {
    position: relative;
    bottom: 50px;
    margin: 0;
    padding: 4px 0;
    text-align: left;
    list-style-type: none;
    background-color: #fff;
    background-clip: padding-box;
    border-radius: 16px;
    outline: 0;
    box-shadow: none;
}

.dropdown-item{
    border-radius: 16px;
    justify-content: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}